body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-image: url(wallpaperflare.com_wallpaper\ \(4\).jpg ) ;        
}

#diff button {
    
    outline: none;
    border: none;
    color: #f8f9f7fa;
    background-color: rgb(255, 166, 0);
    border-radius: 1px 22px 2px;
}
#diff button:hover{
    background: #e7cc19d2;

}

#ac button{
    background-color: rgba(249, 22, 22, 0.263); 
    color: #f8578f;
}
#ac button:hover{
    background: rgba(255, 0, 0, 0.329);
}
#clear button{
    background-color:#abdc987e; font-size: 23px;
     color: rgba(16, 99, 16, 0.788);
}
#clear button:hover{
    background: #7efc3a60;
}

button.clear {
    background: rgba(225, 209, 217, 0.129);
}
table {
    
    width: 79%;
    height: 70px;
    background: rgba(243, 236, 236, 0.169);
    padding: 0px;
    border: 6px solid #71696900;
    padding-bottom: 0px;
    box-shadow: rgb(250, 230, 230);
    border-radius: 10px;
    margin-top: 10px;    
    margin-bottom: 20px;
   
}
button.equal {
    width: 88%;
    background:rgba(30, 136, 211, 0.166);
    color: #3afcfc;
    ;
}
button.equal:hover{
	background: #aaaeab3f;
}
input[type="text"] {
    width: 380px;
    height: 50px;
    outline: none;
    border: none;
    border-radius: 5px;
    border: 1px solid #cecdcd;
    padding: right 0.5em; ;
    font-size: 32px;
    background:#f8f6f6;
    font-weight: bold;
    margin-bottom: 5px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10px;
    color: #1d1a1a;
     box-shadow: inset 2px 2px 2px #323c45,
     inset -8px 8px 8px #ffffff
}
button {
    padding: 10px 20px;
    width: 74px;
    height: 45px;
    margin-bottom: 20px;
    font-size: 26px;
    font-weight: 300;
    font-family: 'Times New Roman', Times, serif;
    background: #ede8ec3c;
    box-shadow: 2px 6px 2px #171113a4;
    border: none;
    color: #e5d2d2e2;
    border-radius: 6px;
    cursor: pointer;
}
button:hover{
	background: #c4a8a356;
}







@media screen and (max-width: 480px) {
    table {
        text-align: center;
        background: rgba(203, 145, 145, 0.221);
        padding: -35px;
        padding-bottom: 6px;
        box-shadow: rgb(250, 230, 230);
        border-radius: 10px;
        margin-top: 33px;    
        margin-bottom: 20px;
       
    }
    body {
        table-layout: fixed;
        justify-content: center;
        background-image: url(480-800.jpg);
    }    

    #diff button {
    width: 70px;
    height: 46px;
        outline: none;
        border: none;
        color: #f8f9f7fa;
        background-color: rgb(255, 166, 0);
        border-radius: 1px 22px 2px;
    }
    #diff button:hover{
        background: #e7cc19d2;
    
    }
    
    #ac button{
        background-color: rgba(249, 22, 22, 0.263); 
        color: #f8578f;
    }
    #ac button:hover{
        background: rgba(255, 0, 0, 0.329);
    }
    #clear button{
        background-color:#abdc987e; font-size: 23px;
         color: rgba(16, 99, 16, 0.788);
    }
    #clear button:hover{
        background: #7efc3a60;
    }
    
    
    button {
        padding: -1px 30px;
        width: 79px;
        height: 53px;
        margin-bottom: 19px;
        font-size: 26px;
        font-weight: 300;
        font-family: 'Times New Roman', Times, serif;
        background: #ede8ec5a;
        color: #e5d2d2e2;
        border-radius: 28px;
        cursor: pointer;
    }
    button:hover{
        background: #c4a8a356;
    }
    input[type="text"] {
        width: 320px;
        height: 30px;
        outline: none;
        border: none;
        border-radius: 5px;
        border: 1px solid #cecdcd;
        padding: right 0.5em; ;
        font-size: 32px;
        background:#f8f6f6;
        font-weight: bold;
        margin-bottom: 5px;
        font-family: 'Times New Roman', Times, serif;
        margin-top: 10px;
        color: #1d1a1a;
         box-shadow: inset 2px 2px 2px #323c45,
         inset -8px 8px 8px #ffffff
    }
    
}




  
@media (min-width: 481px) and (max-width: 767px) {
    table {
        text-align: center;
        background: rgba(203, 145, 145, 0.221);
        padding: -35px;
        padding-bottom: 6px;
        box-shadow: rgb(250, 230, 230);
        border-radius: 10px;
        margin-top: 33px;    
        margin-bottom: 20px;
       
    }
    body {
        table-layout: fixed;
        justify-content: center;
        background-image: url(wallpaperflare.com_wallpaper\ \(4\).jpg);
    }    

    #diff button {
    width: 70px;
    height: 46px;
        outline: none;
        border: none;
        color: #f8f9f7fa;
        background-color: rgb(255, 166, 0);
        border-radius: 1px 22px 2px;
    }
    #diff button:hover{
        background: #e7cc19d2;
    
    }
    
    #ac button{
        background-color: rgba(249, 22, 22, 0.263); 
        color: #f8578f;
    }
    #ac button:hover{
        background: rgba(255, 0, 0, 0.329);
    }
    #clear button{
        background-color:#abdc987e; font-size: 23px;
         color: rgba(16, 99, 16, 0.788);
    }
    #clear button:hover{
        background: #7efc3a60;
    }
    
    
    button {
        padding: -1px 30px;
        width: 79px;
        height: 53px;
        margin-bottom: 19px;
        font-size: 26px;
        font-weight: 300;
        font-family: 'Times New Roman', Times, serif;
        background: #ede8ec5a;
        color: #e5d2d2e2;
        border-radius: 28px;
        cursor: pointer;
    }
    button:hover{
        background: #c4a8a356;
    }
    input[type="text"] {
        width: 320px;
        height: 30px;
        outline: none;
        border: none;
        border-radius: 5px;
        border: 1px solid #cecdcd;
        padding: right 0.5em; ;
        font-size: 32px;
        background:#f8f6f6;
        font-weight: bold;
        margin-bottom: 5px;
        font-family: 'Times New Roman', Times, serif;
        margin-top: 10px;
        color: #1d1a1a;
         box-shadow: inset 2px 2px 2px #323c45,
         inset -8px 8px 8px #ffffff
    }
    
}

  

@media (min-width: 768px) and (max-width: 1024px){
    table {
        width: 107%;
        height: 34px;
        text-align: center;
        background: rgba(203, 145, 145, 0.221);
        padding: -35px;
        padding-bottom: 6px;
        box-shadow: rgb(250, 230, 230);
        border-radius: 10px;
        margin-top: 250px;    
        margin-bottom: 266px;
       
    }
    body {
        table-layout: fixed;
        justify-content: center;
        background-image: url(wallpaperflare.com_wallpaper\ \(4\).jpg);
    }    

    #diff button {
    width: 106px;
    height: 52px;
        outline: none;
        border: none;
        color: #f8f9f7fa;
        background-color: rgb(255, 166, 0);
        border-radius: 1px 22px 2px;
    }
    #diff button:hover{
        background: #e7cc19d2;
    
    }
    
    #ac button{
        background-color: rgba(249, 22, 22, 0.263); 
        color: #f8578f;
    }
    #ac button:hover{
        background: rgba(255, 0, 0, 0.329);
    }
    #clear button{
        background-color:#abdc987e; font-size: 23px;
         color: rgba(16, 99, 16, 0.788);
    }
    #clear button:hover{
        background: #7efc3a60;
    }
    
    
    button {
        padding: -1px 30px;
        width: 102px;
        height: 65px;
        margin-bottom: 20px;
        font-size: 26px;
        font-weight: 300;
        font-family: 'Times New Roman', Times, serif;
        background: #ede8ec5a;
        color: #e5d2d2e2;
        border-radius: 28px;
        cursor: pointer;
    }
    button:hover{
        background: #c4a8a356;
    }
    input[type="text"] {
        width: 369px;
        height: 40px;
        outline: none;
        border: none;
        border-radius: 5px;
        border: 1px solid #cecdcd;
        padding: right 0.5em; ;
        font-size: 32px;
        background:#f8f6f6;
        font-weight: bold;
        margin-bottom: 5px;
        font-family: 'Times New Roman', Times, serif;
        margin-top: 10px;
        color: #1d1a1a;
         box-shadow: inset 2px 2px 2px #323c45,
         inset -8px 8px 8px #ffffff
    }
    
}

  




   
@media (min-width: 1025px) and (max-width: 1280px){
    body {
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        min-height: 100vh;
        background-image: url(wallpaperflare.com_wallpaper\ \(4\).jpg ) ;        
    }
    
    #diff button {
        
        outline: none;
        border: none;
        color: #f8f9f7fa;
        background-color: rgb(255, 166, 0);
        border-radius: 1px 22px 2px;
    }
    #diff button:hover{
        background: #e7cc19d2;
    
    }
    
    #ac button{
        background-color: rgba(249, 22, 22, 0.263); 
        color: #f8578f;
    }
    #ac button:hover{
        background: rgba(255, 0, 0, 0.329);
    }
    #clear button{
        background-color:#abdc987e; font-size: 23px;
         color: rgba(16, 99, 16, 0.788);
    }
    #clear button:hover{
        background: #7efc3a60;
    }
    
    button.clear {
        background: rgba(225, 209, 217, 0.129);
    }
    table {
        
        width: 79%;
        height: 70px;
        background: rgba(243, 236, 236, 0.169);
        padding: 0px;
        border: 6px solid #71696900;
        padding-bottom: 0px;
        box-shadow: rgb(250, 230, 230);
        border-radius: 10px;
        margin-top: 10px;    
        margin-bottom: 20px;
       
    }
    button.equal {
        width: 88%;
        background:rgba(30, 136, 211, 0.166);
        color: #3afcfc;
        ;
    }
    button.equal:hover{
        background: #aaaeab3f;
    }
    input[type="text"] {
        width: 380px;
        height: 50px;
        outline: none;
        border: none;
        border-radius: 5px;
        border: 1px solid #cecdcd;
        padding: right 0.5em; ;
        font-size: 32px;
        background:#f8f6f6;
        font-weight: bold;
        margin-bottom: 5px;
        font-family: 'Times New Roman', Times, serif;
        margin-top: 10px;
        color: #1d1a1a;
         box-shadow: inset 2px 2px 2px #323c45,
         inset -8px 8px 8px #ffffff
    }
    button {
        padding: 10px 20px;
        width: 74px;
        height: 45px;
        margin-bottom: 20px;
        font-size: 26px;
        font-weight: 300;
        font-family: 'Times New Roman', Times, serif;
        background: #ede8ec3c;
        box-shadow: 2px 6px 2px #171113a4;
        border: none;
        color: #e5d2d2e2;
        border-radius: 6px;
        cursor: pointer;
    }
    button:hover{
        background: #c4a8a356;
    }
    
    
}
  
